@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'vuestic-sass/index';
//@import 'icon-fonts/index';

html {
  line-height: 1.15;
}

body {
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  line-height: 1.2;
  font-weight: 600;
}

code,
kbd,
samp,
pre {
  font-family: monospace;
  font-size: 1em;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.has-loading-overlay {
  position: relative;
}

.loading-overlay {
  position: absolute;
  inset: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
}

.loading-overlay[model-value='true'] {
  pointer-events: all;
}
.loading-overlay[model-value="false"] {
  z-index: -1;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.va-modal__dialog {
  z-index: 21;
}